::ng-deep .p-datepicker .p-inputtext {
  width: 100% !important;
}

::ng-deep .p-datepicker button {
  background-color: transparent !important;
}

.category {
  background: #e6e9ed;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
}
