/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

input,
.p-select {
  background-color: #f4f6fa !important;
}

button {
  background-color: #1d55f3 !important;
  border: #1d55f3 !important;
}

.p-inputtext:enabled:hover,
.p-select:enabled:hover {
  border-color: #1d55f3;
}

.p-select:not(.p-disabled):hover,
.p-select:not(.p-disabled).p-select:enabled:focus {
  border-color: #1d55f3 !important;
}
.p-inputtext:enabled:focus,
.p-select:enabled:focus {
  border: #1d55f3 !important;
}

.p-button {
  width: 100%;
}

.p-dataview-content {
  background-color: #f3f5f7 !important;
  padding: 25px !important;

  .col-span-12 {
    background-color: white;
    border-radius: 24px;
  }
}
